<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CryptoName</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="crypto name domain btc elastos eth ethereum ela ">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="./js/vue-datepicker.min.js"></script>
    <script type="text/javascript" src="./js/sha256.min.js"></script>
    <script type="text/javascript" src="./js/web3.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap_4_5.min.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap_4_5.bundle.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
    <script type="text/javascript" src="./js/jquery.loading.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script src="./js/qrcode.min.js"></script>
    <script src="./js/vue-clipboard.min.js"></script>
    <script type="text/javascript">
        document.write('<script src="./js/contractConfig.js?v=' + (new Date()).getTime() + '"><\/script>');
    </script>

    <style>
        [v-cloak] {
            display: none;
        }
        
        body {
            background-color: #F8F8F8;
        }
        
        .login {
            text-align: center;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 5px;
            cursor: pointer;
            width: 240px;
            line-height: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: #F5841F;
            color: #ffffff;
        }
        
        .add {
            margin-top: 10px;
            text-align: center;
            width: 198px;
            height: 96px;
            line-height: 96px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            cursor: pointer;
            font-size: 26px;
        }
        
        .kuang {
            margin-top: 10px;
            padding: 10px;
            text-align: left;
            width: 256px;
            height: 158px;
            background: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            margin-right: 20px;
        }
        
        .btn1 {
            color: #4567E2;
            cursor: pointer;
            margin-right: 10px;
            font-size: 14px;
        }
        
        .dialog {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: 999;
        }
        
        .arrow_mask {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 998;
            display: block;
            background: black;
            opacity: 0.3;
            box-shadow: 0px 4px 10px rgba(95, 111, 237, 0.2);
        }
        
        .kuang2 {
            padding: 20px 0px;
            position: absolute;
            width: 600px;
            left: 50%;
            top: 50%;
            margin-left: -300px;
            margin-top: -200px;
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(106, 147, 205, 0.1);
            border-radius: 5px;
            z-index: 999;
        }
        
        .close {
            position: relative;
            height: 15px;
            cursor: pointer;
        }
        
        .close img {
            position: absolute;
            width: 22px;
            height: 22px;
            right: 0px;
            top: 0px;
            padding: 5px;
        }
        
        .dialog .kuang2 .shuoming {
            text-align: center;
        }
        
        .dialog .kuang2 .shuoming .first {
            font-size: 18px;
            font-weight: bold;
            color: #000000;
        }
        
        .dialog .kuang2 .shuoming .second {
            margin-top: 25px;
            text-align: center;
        }
        
        .dialog .kuang2 .shuoming .second .left {
            display: inline-block;
            width: 62%;
            text-align: right;
            font-size: 16px;
            color: #dddddd;
        }
        
        .dialog .kuang2 .shuoming .three {
            margin-top: 30px;
            font-size: 18px;
            color: #000000;
        }
        
        .dialog .kuang2 .shuoming .three span {
            margin-top: 30px;
            font-size: 18px;
            color: #ff0000;
        }
        
        .dialog .kuang2 .pay {
            text-align: center;
            margin: 0 auto;
            margin-top: 30px;
            margin-bottom: 5px;
            cursor: pointer;
            width: 90px;
            line-height: 35px;
            height: 35px;
            border-radius: 4px;
            background-color: #F5841F;
            color: #ffffff;
        }
        
        .spinner {
            display: block;
            margin: 100px auto 0;
            width: 150px;
            text-align: center;
        }
        
        .spinner>div {
            width: 30px;
            height: 30px;
            background-color: #67CF22;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        
        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        
        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
        
        @-webkit-keyframes bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0.0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }
        
        @keyframes bouncedelay {
            0%,
            80%,
            100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }

        #addressimg img {
            margin: 0 auto;
        }
    </style>

</head>

<body id="abc">
    <header id="header">

        <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="https://t.me/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                    <a href="https://twitter.com/CryptoNameOrg" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>CryptoName</span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./register.html">Register</a></li>
                    <li><a href="./sale.html">Sale</a></li>
                    <!--li><a href="./auction.html">Auction</a></li-->
                    <li><a href="./guide.html">Guide</a></li>
                    <li><a href="./developer.html">Developer</a></li>
                    <li class="active"><a href="./account.html">Account</a></li>
                </ul>
            </nav>
            <!-- .main-nav -->

        </div>
    </header>
    <!-- #header -->
    <div style="height:150px"></div>
    <div class="container" id="app">

        <div class="spinner" v-if="loading">

            <div class="bounce1"></div>

            <div class="bounce2"></div>

            <div class="bounce3"></div>
        </div>
        <div class="row text-center" style="color: #0000ff;font-size: 18px;" v-if="loading">
            <div class="col-sm-12">Transaction confirmation in progress</div>
        </div>

        <div v-if="!loading">

            <div v-if="!loginStatus" style="width: 500px;margin: 0 auto;">
                <div class="row text-center">
                    <div class="col-sm-12" style="text-align: left;margin-bottom: 5px;">
                        Step 1.Please install the Metamask plugin in your browser.You can get it from .
                    </div>

                    <div class="col-sm-12" style="text-align: left;margin-bottom: 5px;">
                        Step 2.Please connect the Elastos eth sidechain，Here is ths guide.
                    </div>

                    <div class="col-sm-12" style="text-align: left;margin-bottom: 5px;">
                        Step 3.Click below button.Fine!
                    </div>
                </div>
                <div class="row text-center">
                    <div class="login" @click="login">Login With Metamask</div>
                </div>
                <div style="text-align: center;font-weight: bold;">Please confirm your MetaMask wallet already</div>
                <div style="text-align: center;font-weight: bold;">connected the Elastos Eth sidechain</div>
                <div style="text-align: center;font-weight: bold;"><img src="./img/meatMask.png">METAMASK</div>
            </div>

            <div v-if="loginStatus">
                <div class="row" style="background-color: #ffffff;padding: 10px;border: 1px solid #ffffff;border-radius: 4px;">
                    <div class="col-sm-12">
                        <span style="font-weight: bold;">Account Address:</span>
                    </div>
                    <div class="col-sm-12" @click="window.open('https://explorer.elaeth.io/address/'+selectAddress+'/transactions', '_blank')">
                        <span style="margin-left: 10px;cursor: pointer;">{{selectAddress}}</span>
                        <img src="./img/diqiu.png" style="cursor: pointer; width:16px;" />
                    </div>
                    <div class="col-sm-12">
                        <span style="font-weight: bold;">Account Balance:</span>
                    </div>
                    <div class="col-sm-12">
                        <span style="margin-left: 10px;">{{selectedElaBalance}} ELA</span> 
                        <!--
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#upgradingDialog">Deposit</button>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#upgradingDialog">Withdraw</button>
                        -->
                        <button type="button" class="btn btn-link" data-toggle="modal" @click="DepositELA()">Deposit</button>
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target="#withdrawDiag">Withdraw</button>
                    </div>
                </div>

                <div class="row" style="margin-top: 15px;">
                    <div class="kuang" v-for="(item) in domainNameArr">
                        <div style="font-weight: bold;font-size: 26px;">{{item.name}}</div>
                        <div style="font-weight: bold;font-size: 16px;">.elastos.name</div>
                        <div style="font-size: 14px;border-bottom: 1px solid #E0E0E0;padding-bottom: 25px;">{{dateFormat(new Date(item.expiration * 1000), ' yyyy-MM-dd HH:mm:ss')}}</div>
                        <div style="text-align: right;margin-top: -4px;"><span class="btn1" @click="renew(item)">renew</span><span class="btn1" @click="view(item)">view</span><span class="btn1" @click="edit(item)">edit</span><span class="btn1" @click="transferDialog(item)" style="width: 57px;">transfer</span></div>
                    </div>
                    <div class="add" @click="add">
                        + add
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="upgradingDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upgrading...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Please wait a moment, we are upgrading the service.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        <div class="dialog" v-if="showMask">
            <div class="arrow_mask" @click="click_close"></div>
            <div class="kuang2">
                <div class="close" @click="click_close">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAWCAYAAADEtGw7AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAADLSURBVHgB7ZOxDQIhFIaBhtA5giO4ghs4wo2gJZVYUeoIN4IbuIIjOIIdoQH5TUgu5D295ky83N/c8T/+L/AAIRb9rSRleu/X5dPFGC/OuSc1p/grY0yXUrpaax9tXVEhpdROSnnUWt8AoKCo5ZzPWADJoMwQQl9C9wLftPAKRQ1zsCuKQbaCAWzhtx7XKhZMwd+BEdCv4BaO8RgopMRE+n0rJjk8CloBn2pDkT0uwT0XxD+8es/x+igGd3h9CR241QzgJzxpsWheegEfssESO4AuEAAAAABJRU5ErkJggg=="
                    /></div>
                <div class="shuoming">
                    <div class="first">Enter the address you want to transfer</div>
                    <div class="second"><input v-model="daddress" style="width:400px" /></div>
                </div>

                <div class="pay" @click="pay">Submit</div>
                <div style="text-align: center;font-weight: bold;">Please confirm your MetaMask wallet already</div>
                <div style="text-align: center;font-weight: bold;">connected the Elastos Eth sidechain</div>
                <div style="text-align: center;font-weight: bold;"><img src="./img/meatMask.png">METAMASK</div>
                <div style="text-align: center;"><img src="./img/wenhao.png"><span style="display:inline-block;border-bottom: 1px solid #dddddd;cursor: pointer;" @click="link">How to setup Metamask</span></div>
            </div>
        </div>

        <div class="modal fade" id="depositDiag" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Deposit to ELA sidechain</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body row">
                <div  class="col-sm-12" >
                    <div id="addressimg" class="align-middle" >
                    </div>
                </div>
                <p style="text-align: center; width:100%; margin-top: 15px; margin-bottom: 5px;" @click="doCopy(depsoitMainchainAddress)">
                    {{depsoitMainchainAddress}}
                </p>
                <p style="text-align: center; color:0xeee; font-size:0.8rem; width:100%; margin:0 15px 0 15px;">
                    At least 0.1 ELA, 0.1～15 ELA about 5 minutes
                </p>
                <p style="text-align: center; color:0xeee; font-size:0.8rem; width:100%; margin:0 15px 0 15px;">
                    more than 15 ELA about 25 minutes
                </p>
                <p style="text-align: center; color:blue; font-size:0.8rem; width:100%; margin:15px;">
                    {{depositState}}
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="withdrawDiag" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Withdraw to ELA mainchain</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Withdraw Amount:</label>
                    <input type="number" step="0.00000000001" max="2.0" class="form-control" id="recipient-name"  v-model="withdrawAmount" max="20">
                    <label for="recipient-name" class="col-form-label">Mainchain Address:</label>
                    <input type="text" class="form-control" id="recipient-name"  v-model="withDrawMainchainAddress">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" @click="WithdrawELA()">Go</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <footer id="footer" class="section-bg">

        <div class="container">

            <div class="copyright">
                <b>contact us:</b>
                <a href="https://t.me/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                <a href="https://twitter.com/CryptoNameOrg" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="copyright">
                <div style="color:#7B7B7B">
                    <a href="https://cryptoname.org"><img src="img/logo.png" style="height:32px"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d965b0b0681dd5ed07c5305a42dcd6b9";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            loading: false,
            selectAddress: "",
            withdrawAmount: "",
            selectedElaBalance: "",
            loginStatus: false,
            domainNameArr: [],
            showMask: false,
            daddress: "",
            curItem: "",
            depsoitMainchainAddress: "",
            withDrawMainchainAddress:"",
            exchangeId:0,
            depositState:""
        },
        methods: {
            click_close() {
                this.showMask = false;
            },
            dateFormat(date, sFormat) {
                let time = {
                    Year: 0,
                    TYear: '0',
                    Month: 0,
                    TMonth: '0',
                    Day: 0,
                    TDay: '0',
                    Hour: 0,
                    THour: '0',
                    hour: 0,
                    Thour: '0',
                    Minute: 0,
                    TMinute: '0',
                    Second: 0,
                    TSecond: '0',
                    Millisecond: 0
                };
                time.Year = date.getFullYear();
                time.TYear = String(time.Year).substr(2);
                time.Month = date.getMonth() + 1;
                time.TMonth = time.Month < 10 ? "0" + time.Month : String(time.Month);
                time.Day = date.getDate();
                time.TDay = time.Day < 10 ? "0" + time.Day : String(time.Day);
                time.Hour = date.getHours();
                time.THour = time.Hour < 10 ? "0" + time.Hour : String(time.Hour);
                time.hour = time.Hour < 13 ? time.Hour : time.Hour - 12;
                time.Thour = time.hour < 10 ? "0" + time.hour : String(time.hour);
                time.Minute = date.getMinutes();
                time.TMinute = time.Minute < 10 ? "0" + time.Minute : String(time.Minute);
                time.Second = date.getSeconds();
                time.TSecond = time.Second < 10 ? "0" + time.Second : String(time.Second);
                time.Millisecond = date.getMilliseconds();

                return sFormat.replace(/yyyy/ig, String(time.Year))
                    .replace(/yyy/ig, String(time.Year))
                    .replace(/yy/ig, time.TYear)
                    .replace(/y/ig, time.TYear)
                    .replace(/MM/g, time.TMonth)
                    .replace(/M/g, String(time.Month))
                    .replace(/dd/ig, time.TDay)
                    .replace(/d/ig, String(time.Day))
                    .replace(/HH/g, time.THour)
                    .replace(/H/g, String(time.Hour))
                    .replace(/hh/g, time.Thour)
                    .replace(/h/g, String(time.hour))
                    .replace(/mm/g, time.TMinute)
                    .replace(/m/g, String(time.Minute))
                    .replace(/ss/ig, time.TSecond)
                    .replace(/s/ig, String(time.Second))
                    .replace(/fff/ig, String(time.Millisecond))
            },
            renew(item) {
                this.curItem = item;
                var level = 1;
                if (this.curItem.name.length < 3) {
                    alert("It was reserved now.");
                    return;
                } else if (this.curItem.name.length == 3) {
                    level = 2;
                } else {
                    level = 3;
                }

                switch (level) {
                    case 1:
                        this.renewal_level1();
                        break;
                    case 2:
                        this.renewal_level2();
                        break;
                    case 3:
                        this.renewal_level3();
                        break;
                }
            },
            doCopy(text) {
                this.$copyText(text).then((e) => {
                    alert("copy Sucess");
                }, (e) => {})
            },
            login() {
                window.initWallet().then((address) => {
                    this.selectAddress = address;
                    this.loginStatus = true;
                    localStorage.setItem("domain.tokens.org", JSON.stringify({
                        "loginStatus": true
                    }));
                    if (typeof web3 !== 'undefined') {
                        web3 = new Web3(web3.currentProvider);
                    }
                    var pthis = this;
                    web3.eth.getBalance(address, (err, data) => {
                        pthis.selectedElaBalance = (data / window.ethUnit).toFixed(5);
                        pthis.withdrawAmount = (data / window.ethUnit).toFixed(5) - 0.0012;
                        
                        pthis.init();
                    })
                    
                }).catch((err) => {
                    localStorage.setItem("domain.tokens.org", JSON.stringify({
                        "loginStatus": false
                    }));
                    alert(JSON.stringify(err));
                })
            },
            async init() {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        var infoContract = new web3.eth.Contract(window.elaAbi, window.contractAddres);
                        infoContract.methods.balanceOf(this.selectAddress).call().then((msg) => {
                            let num = parseInt(msg);
                            if (num > 0) {
                                this.initNames(infoContract, num);
                            }
                        }).catch((err) => {

                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            async initNames(info, num) {
                var pool = [];
                for (let index = 0; index < num; index++) {
                    pool.push(this.tokenByIndex(info, index));
                }
                return Promise.all(pool);
            },
            async tokenByIndex(info, index) {
                info.methods.tokenOfOwnerByIndex(this.selectAddress, index).call().then((tokenId) => {
                    this.tokensURI(info, tokenId, this.selectAddress);
                    //this.ownerOf(info, tokenId);
                }).catch((err) => {

                });
            },
            async tokensURI(info, tokenId, address) {
                info.methods.tokenURI(tokenId).call().then((tokenName) => {
                    this.getExpiration(info, tokenId, address, tokenName);
                }).catch((err) => {
                    alert("===" + JSON.stringify(err));
                });
            },
            async ownerOf(info, tokenId) {
                info.methods.ownerOf(tokenId).call().then((address) => {
                    if (address.toUpperCase() == this.selectAddress.toUpperCase()) {
                        this.tokensURI(info, tokenId, address);
                    }
                }).catch((err) => {

                });
            },
            async _generate_option(price) {
                return web3.eth.getGasPrice()
                    .then((gasPrice) => {
                        if (price)
                            return {
                                from: this.selectAddress,
                                gasPrice: gasPrice,
                                gas: 1000000,
                                value: web3.utils.toWei(price, "ether")
                            };
                        else
                            return {
                                from: this.selectAddress,
                                gasPrice: gasPrice,
                                gas: 1000000,
                                value: '0'
                            };
                    });
            },
            add() {
                window.location.href = "./register.html";
            },
            view(item) {
                window.location.href = "./view.html?name=" + item.name;
            },
            edit(item) {
                window.location.href = "./editInfo.html?name=" + item.name;
            },
            transferDialog(item) {
                this.curItem = item;
                this.showMask = true;
            },
            pay() {
                if (this.daddress === "") {
                    alert("Enter address for the transfer")
                    return false;
                }

                this._generate_option("0.1").then((option) => {
                    this.transfer(option);
                }).catch((err) => {

                });;
            },
            async transfer(option) {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        var infoContract = new web3.eth.Contract(window.elaAbi, window.contractAddres);
                        infoContract.methods.transfer(this.selectAddress, this.daddress, this.curItem.name).send(option, (err, msg) => {
                            if (!err) {
                                this.loading = true;
                                this.showMask = false;
                                this.next(msg);
                            }
                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            link() {
                //window.open("");
            },
            checkDepsoitResult() {
                if (this.exchangeId == 0) {
                    this.depositState = "Waiting to transfer ELA to the above address";
                    return;
                }
                var pthis = this;

                fetch("https://transfer.elaphant.net/api/1/ela_exchange/"+this.selectAddress+"/tx/"+this.exchangeId)
                    .then((ret) => ret.json())
                    .then(function(ret) {
                        
                        switch(ret.data.state) {
                            case "renewal_waiting":
                                pthis.depositState = "Waiting to transfer ELA to the above address";
                                break;
                            case "renewal_timeout":
                                pthis.depositState = "Never received your ELA. If you have already transferred, please join the Telegram group and contact the admin for processing. (exchangeId:"+ret.data.exchangeId+")";
                                break;
                            case "transferring":
                                pthis.depositState = "Your transfer has been received and is transferring to the sidechain";
                                break;
                            case "transfer_finish":
                                pthis.depositState = "Completed, please refresh your wallet."
                                break;
                            case "transfer_failed":
                                pthis.depositState = "Transaction failed, please join the Telegram group and contact the admin for processing(exchangeId:"+ret.data.exchangeId+").";
                                break;
                            case "backing":
                                pthis.depositState = "Refunding";
                                break;
                            case "back_finish":
                                pthis.depositState = "refunded";
                                break;
                            case "back_failed":
                                pthis.depositState = "Refund failed, please join the Telegram group and contact the admin for processing(exchangeId:"+ret.data.exchangeId+").";
                                break;
                            case "direct_transferring":
                                pthis.depositState = "Cross-chain transfer in progress";
                                break;
                            case "direct_transferring_wait_gather":
                                pthis.depositState = "Cross-chain transfer in progress";
                                break;
                            case "direct_transfer_finish":
                                pthis.depositState = "Cross-chain transfer completed.";
                                break;
                            case "direct_transfer_failed":
                                pthis.depositState = "Cross-chain transfer failed.(exchangeId:"+ret.data.exchangeId+")";
                                break;
                        }
                    });

            },
            DepositELA() {

                this.exchangeId = 0;
                this.checkDepsoitResult();
                var req = {
                    "user_did": this.selectAddress,
                    "src_chain_id": 1,
                    "back_addr": "EYH69rRAfDQ2HRa35bmYRh6UoAZ8u3n7ZJ",
                    "dst_chain_id": 3,
                    "dst_addr": this.selectAddress
                };

                fetch("https://transfer.elaphant.net/api/1/ela_exchange/generator", {
                    body: JSON.stringify(req),
                    headers: {
                      'user-agent': 'Mozilla/4.0 MDN Example',
                      'content-type': 'application/json'
                    },
                    method: 'POST'
                }).then((rep) => rep.json())
                .then((ret) => {
                    this.depsoitMainchainAddress = ret.data.src_chain_addr;
                    $("#addressimg").html("");
                    var qrcode = new QRCode(document.getElementById("addressimg"), ret.data.src_chain_addr);
                    $('#depositDiag').modal('show');
                    this.exchangeId = ret.data.exchange_id;

                });

                //window.open(" https://transfer.elaphant.app?dstaddress=" + this.selectAddress);
            },
            WithdrawELA() {

                $("#withdrawDiag").loading('toggle');
                var contract = new web3.eth.Contract([{"constant":false,"inputs":[{"name":"_addr","type":"string"},{"name":"_amount","type":"uint256"},{"name":"_fee","type":"uint256"}],"name":"receivePayload","outputs":[],"payable":true,"stateMutability":"payable","type":"function"},{"payable":true,"stateMutability":"payable","type":"fallback"},{"anonymous":false,"inputs":[{"indexed":false,"name":"_addr","type":"string"},{"indexed":false,"name":"_amount","type":"uint256"},{"indexed":false,"name":"_crosschainamount","type":"uint256"},{"indexed":true,"name":"_sender","type":"address"}],"name":"PayloadReceived","type":"event"},{"anonymous":false,"inputs":[{"indexed":true,"name":"_sender","type":"address"},{"indexed":false,"name":"_amount","type":"uint256"},{"indexed":true,"name":"_black","type":"address"}],"name":"EtherDeposited","type":"event"}]);
                contract.options.address = "0xC445f9487bF570fF508eA9Ac320b59730e81e503";
                var cdata  = contract.methods.receivePayload(this.withDrawMainchainAddress, web3.utils.toWei(this.withdrawAmount+"", "ether"), "100000000000000").encodeABI();
                var tx = {data: cdata, to: contract.options.address, from: this.selectAddress};
                tx.value = web3.utils.toWei(this.withdrawAmount+"", "ether");

                web3.eth.sendTransaction(tx)
                    .then(() => {
                        $("#withdrawDiag").loading('stop');
                        $("#withdrawDiag").modal('hide');
                    }, () => {
                        $("#withdrawDiag").loading('stop');
                    });
                
            },
            async getExpiration(info, tokenId, address, tokenName) {
                info.methods.tokenExpiration(tokenId).call().then((expiration) => {
                    this.domainNameArr.push({
                        "tokenId": tokenId,
                        "name": tokenName,
                        "owner": address,
                        "expiration": expiration
                    });
                }).catch((err) => {

                });
            },
            next(txid, type) {
                let sid = setInterval(() => {
                    if (typeof web3 !== 'undefined') {
                        web3 = new Web3(web3.currentProvider);
                    }
                    web3.eth.getTransaction(txid, (err, data) => {
                        let blockHash = data['blockHash'] || "";
                        let blockNumber = data['blockNumber'] || "";
                        if (blockHash != "" && blockNumber != '') {
                            this.loading = false;
                            clearInterval(sid);
                        }
                    });
                }, 500);
            },
            async renewal_level3() {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);

                    await ethereum.enable();
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                    return;
                }
                var pthis = this;

                var infoContract = new web3.eth.Contract(window.elaAbi, window.contractAddres);
                infoContract.methods.renewal_level3().call().then((price) => {
                    return pthis._generate_option(web3.utils.fromWei(price, "ether"))
                }).then((option) => {
                    return pthis.callRenewName(option);
                }).catch((err) => {
                    console.log(err);
                });
            },
            async renewal_level2(option) {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);

                    await ethereum.enable();
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                    return;
                }
                var pthis = this;

                var infoContract = new web3.eth.Contract(window.elaAbi, window.contractAddres);
                infoContract.methods.renewal_level2().call().then((price) => {
                    return pthis._generate_option(web3.utils.fromWei(price, "ether"))
                }).then((option) => {
                    return pthis.callRenewName(option);
                }).catch((err) => {
                    console.log(err);
                });
            },
            async renewal_level1(option) {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);

                    await ethereum.enable();
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                    return;
                }

                var pthis = this;

                var infoContract = new web3.eth.Contract(window.elaAbi, window.contractAddres);
                infoContract.methods.renewal_level1().call().then((price) => {
                    return pthis._generate_option(web3.utils.fromWei(price, "ether"))
                }).then((option) => {
                    return pthis.callRenewName(option);
                }).catch((err) => {
                    console.log(err);
                });
            },
            next(txid) {
                let sid = setInterval(() => {
                    if (typeof web3 !== 'undefined') {
                        web3 = new Web3(web3.currentProvider);
                    }
                    web3.eth.getTransaction(txid, (err, data) => {
                        let blockHash = data['blockHash'] || "";
                        let blockNumber = data['blockNumber'] || "";
                        if (blockHash != "" && blockNumber != '') {
                            this.loading = false;
                            clearInterval(sid);
                            window.location.href = "./account.html";
                        }
                    });
                }, 500);
            },
            async callRenewName(option) {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        var pthis = this;
                        await ethereum.enable();
                        var infoContract = new web3.eth.Contract(window.elaAbi, window.contractAddres);
                        infoContract.methods.renewToken(this.curItem.name).send(option, (err, msg) => {
                            if (!err) {
                                pthis.loading = true;
                                pthis.next(msg);
                            }
                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },

        },

        created() {
            let first = localStorage.getItem("domain.tokens.org") || "";
            if (first === "") {
                this.loginStatus = false;
            } else {
                this.loginStatus = JSON.parse(first)["loginStatus"];
            }
            this.login();
            ethereum.enable().then(() => {
                window.web3 = new Web3(ethereum);
            });

            setInterval(this.checkDepsoitResult, 1000);
        }
    });
    $('#depositDiag').on('hidden.bs.modal', function (e) {
        app._data.exchangeId = 0;
    });
</script>

</html>