<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Domain Tokens</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="./js/web3.min.js"></script>
    <script src="https://cdn.bootcss.com/lodash.js/4.17.12-pre/lodash.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script type="text/javascript">
        document.write('<script src="./js/contractConfig.js?v=' + (new Date()).getTime() + '"><\/script>');
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
        
        body {
            background-color: #FEFEFE;
        }
        
        .btn1 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 5px;
            cursor: pointer;
            width: 200px;
            line-height: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: #F5841F;
            color: #ffffff;
        }
    </style>

</head>

<body>
    <header id="header">

        <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="https://t.me/elastosname" class="Telegram"><i class="fa fa-telegram"></i></a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>Domain Tokens</span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./register.html">Register</a></li>
                    <li><a href="./sale.html">Sale</a></li>
                    <li><a href="./auction.html">Auction</a></li>
                    <li class="active"><a href="./account.html">Account</a></li>
                </ul>
            </nav>
            <!-- .main-nav -->

        </div>
    </header>
    <!-- #header -->
    <div style="height:150px"></div>
    <div class="container" id="app">
        <div class="row text-center">
            <div class="col-sm-12">
                <span style="color: #000000;font-size: 36px;">{{domainInfo.name}}.elastos.name</span>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            <div class="col-sm-6 text-right">
                <div style="margin-bottom: 5px;"><span style="margin-right: 5px;">DID:</span><input v-model="domainInfo.did" /></div>
                <div v-for="(item,key) in coinList">
                    <div style="margin-bottom: 5px;">{{symbolDes[key].des}}<span style="margin-right: 5px;"></span><input v-model="item.address" /></div>
                </div>
                <div style="margin-bottom: 5px;">publickey<span style="margin-right: 5px;"></span><input v-model="domainInfo.publickey" /></div>
            </div>
            <div class="col-sm-6 text-left">
                <div style="margin-bottom: 5px;"><span style="display:inline-block;width: 110px;text-align: right;margin-right: 10px;">EMail:</span><input v-model="domainInfo.email" /></div>
                <div style="margin-bottom: 5px;"><span style="display:inline-block;width: 110px;text-align: right;margin-right: 10px;">Personal Web:</span><input v-model="domainInfo.personalurl" /></div>
                <div style="margin-bottom: 5px;"><span style="display:inline-block;width: 110px;text-align: right;margin-right: 10px;">Description:</span><textarea style="vertical-align:top;resize: none;height: 120px;" v-model="domainInfo.description"></textarea></div>
            </div>
        </div>

        <div class="row text-center" style="margin-top: 10px;">
            <div class="col-sm-5">
                <img src="./img/line.png" style="width: 100%;" />
            </div>
            <div class="col-sm-2">
                or
            </div>
            <div class="col-sm-5">
                <img src="./img/line.png" style="width: 100%;" />
            </div>
        </div>

        <div class="row text-center" style="margin-top: 20px;">
            <div class="col-sm-12" @click="goLogo()">
                <img src="./img/elaphant.png" /> <span style="vertical-align: middle;color: #5157DB;border-bottom:1px solid #5157DB;cursor: pointer;">Start Elaphant to fill in quickly</span>
            </div>
        </div>


        <div class="row text-center" style="margin-top: 40px;margin-bottom: 5px;">
            <div class="col-sm-12">
                <div class="btn1" @click="submit">Submit</div>
            </div>
        </div>

        <div style="text-align: center;font-weight: bold;">Please confirm your MetaMask wallet already</div>
        <div style="text-align: center;font-weight: bold;">connected the Elastos Eth sidechain</div>
        <div style="text-align: center;font-weight: bold;"><img src="./img/meatMask.png">METAMASK</div>
        <div style="text-align: center;"><img src="./img/wenhao.png"><span style="display:inline-block;border-bottom: 1px solid #dddddd;cursor: pointer;" @click="link">How to setup Metamask</span></div>

        <div class="row text-center" style="margin-top: 50px;">
            <div class="col-sm-12">
                <div style="color:#7B7B7B">Domain Tokens</div>
                <p style="color:#7B7B7B;">Powered by <a style="color:#5157DB;border-bottom: 1px solid #5157DB;">elastos.name</a></p>
            </div>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            selectAddress: "",
            domainInfo: {
                "name": "",
                "did": "",
                "publickey": "",
                "personalurl": "",
                "email": "",
                "description": "",
                "blocknumber": "" //await bridge.getWeb3().eth.getBlockNumber()
            },
            coinList: {
                "ela": {
                    "symbol": "ela",
                    "name": "elastos",
                    "address": "",
                },
                "btc": {
                    "symbol": "btc",
                    "name": "bitcoin",
                    "address": "",
                },
                "eth": {
                    "symbol": "eth",
                    "name": "ethereum",
                    "address": "",
                }
            },
            symbolDes: {
                "ela": {
                    "des": 'ETH Address:'
                },
                "btc": {
                    "des": "BTC Address"
                },
                "eth": {
                    "des": 'ETH Address:'
                }
            },
            schemeConfig: {
                "AppID": "7d80c7e800f5842b3b8e7ec7318189f66b7fd5b6db13bb80fbd89d2b1c444772c1d0202fea1e9cbabbf3258b3d91685484c02c2ae52d78ca39e2e54593ec81dd",
                "AppName": "Hackathon",
                "RandomNumber": "123456789",
                "DID": "iXzenTELVRDc712tmt2Qvbtk3KcAwV2tU8",
                "PublicKey": "032f6347b27401dc0bced2de0ab4531e62c496841cd8e67a58c572e3018dcb72d9",
                "ReturnUrl": "/editInfo.html?dominName=test1",
                "RequestInfo": "elaaddress,BTCAddress,ETHAddress,Email"
            }
        },
        methods: {
            getUrl() {
                //获取主机地址
                var localhostPaht = window.location.protocol + "//" + window.location.host;
                return localhostPaht;
            },
            goLogo() {
                //构建身份授权协议
                var url = this.buildIdentity();
                //拼接大象钱包过度页面
                var turl = 'https://launch.elaphant.app?appName=Hackathon&appTitle=Hackathon&autoRedirect=True&redirectURL=' + encodeURIComponent(url);
                //跳转
                location.href = turl;
            },
            buildIdentity() {
                var baseUrl = this.getUrl();
                if (baseUrl === "file://") {
                    baseUrl = 'http://dev1.elapps.net';
                }
                this.schemeConfig['ReturnUrl'] = baseUrl + '/editInfo.html?dominName=' + this.domainInfo.name;
                var url = "elaphant://identity?";
                _.forEach(this.schemeConfig, function(val, key, index) {
                    if (key === 'ReturnUrl') {
                        val = encodeURIComponent(val);
                    }
                    url += key + '=' + val + '&';
                });

                return url.substring(0, url.length - 1);
            },
            checkParams() {
                if (this.domainInfo.did === "") {
                    alert("input did");
                    return false;
                }

                if (this.coinList.ela.address === "") {
                    alert("input elaAddress");
                    return false;
                }

                if (this.coinList.btc.address === "") {
                    alert("input btcAddress");
                    return false;
                }

                if (this.coinList.eth.address === "") {
                    alert("input ethAddress");
                    return false;
                }

                if (this.domainInfo.publickey === "") {
                    alert("input publickey");
                    return false;
                }
                return true;
            },
            objtoarr() {
                let arr = [];
                for (let key in this.coinList) {
                    arr.push(this.coinList[key]);
                }
                return arr;
            },
            link() {

            },
            submit() {
                if (this.checkParams()) {
                    this.getBlockNumber();
                }
            },
            GetQueryString(name) {　　　
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);　　　
                if (r != null) return (r[2]);　　　
                return null;
            },
            async getBlockNumber() {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        window.web3.eth.getBlockNumber().then((blocknumber) => {
                            this.domainInfo["blocknumber"] = blocknumber;
                            this.sign();
                        }).catch((err) => {

                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            async sign() {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        let arr = this.objtoarr();
                        this.domainInfo["addresses"] = arr;
                        let signData = JSON.stringify(this.domainInfo);
                        web3.eth.personal.sign(signData, this.selectAddress).then((sign) => {
                            let body = {
                                "info": signData,
                                "sign": sign,
                                "owner": this.selectAddress
                            };
                            this.postAjax('https://api.elastos.name/nameInfo/set', body).then((result) => {
                                let code = result["code"];
                                if (code === 200) {
                                    alert(result["message"]);
                                    window.location.href = "./view.html?dominName=" + this.domainInfo.name;
                                } else {
                                    alert(JSON.stringify(result));
                                }
                            }).catch((err) => {
                                alert("err:" + JSON.stringify(err));
                            });
                        }).catch((err) => {
                            alert("err:" + JSON.stringify(err));
                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            async ecRecover(signdata, msg) {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        // web3.eth.personal.ecRecover(signdata, msg).then((address) => {
                        //     console.log("==msgRecover==" + address);
                        // }).catch((err) => {

                        // });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            async ecRecover(signdata, msg) {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        web3.eth.accounts.privateKeyToAccount(privateKey);
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            postAjax(url, data) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'POST',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
        },
        created() {
            this.domainInfo.name = this.GetQueryString("dominName") || "";
            let data = this.GetQueryString("Data") || "";
            if (data != "") {
                let dataStr = decodeURIComponent(data);
                let dataObj = JSON.parse(dataStr);
                this.domainInfo.did = dataObj["DID"];
                this.coinList["ela"]["address"] = dataObj["ELAAddress"];
                this.coinList["btc"]["address"] = dataObj["BTCAddress"];
                this.coinList["eth"]["address"] = dataObj["ETHAddress"];
                this.domainInfo.publickey = dataObj["PublicKey"];
                this.domainInfo.email = dataObj["Email"] || "";
            }
            console.log(JSON.stringify(this.coinList));
            window.initWallet().then((address) => {
                this.selectAddress = address;
            }).catch((err) => {

            });
        }
    });
</script>

</html>