<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CryptoName Tokens</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="./js/web3.min.js"></script>
    <script src="./js/lodash.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/vue.min.js"></script>
    <script type="text/javascript">
        document.write('<script src="./js/contractConfig.js?v=' + (new Date()).getTime() + '"><\/script>');
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
        
        body {
            background-color: #FEFEFE;
        }
        
        .btn1 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 5px;
            cursor: pointer;
            width: 200px;
            line-height: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: #F5841F;
            color: #ffffff;
        }
        
        .spinner {
            display: block;
            margin: 100px auto 0;
            width: 150px;
            text-align: center;
        }
        
        .spinner>div {
            width: 30px;
            height: 30px;
            background-color: #67CF22;
            border-radius: 100%;
            display: inline-block;
            -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
            animation: bouncedelay 1.4s infinite ease-in-out;
            /* Prevent first frame from flickering when animation starts */
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }
        
        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }
        
        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
        
        @-webkit-keyframes bouncedelay {
            0%,
            80%,
            100% {
                -webkit-transform: scale(0.0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }
        
        @keyframes bouncedelay {
            0%,
            80%,
            100% {
                transform: scale(0.0);
                -webkit-transform: scale(0.0);
            }
            40% {
                transform: scale(1.0);
                -webkit-transform: scale(1.0);
            }
        }
    </style>

</head>

<body>
    <header id="header">

        <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="https://twitter.com/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                    <a href="https://t.me/CryptoName1" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>CryptoName</span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./register.html">Register</a></li>
                    <li><a href="./sale.html">Sale</a></li>
                    <!--li><a href="./auction.html">Auction</a></li-->
                    <li><a href="./guide.html">Guide</a></li>
                    <li><a href="./developer.html">Developer</a></li>
                    <li><a href="./account.html">Account</a></li>
                </ul>
            </nav>
            <!-- .main-nav -->

        </div>
    </header>
    <!-- #header -->
    <div style="height:150px"></div>
    <div class="container" id="app">

        <div class="spinner" v-if="loading">

            <div class="bounce1"></div>

            <div class="bounce2"></div>

            <div class="bounce3"></div>
        </div>
        <div class="row text-center" style="color: #0000ff;font-size: 18px;" v-if="loading">
            <div class="col-sm-12">Transaction confirmation in progress</div>
        </div>

        <div v-if="!loading">
            <div class="row text-center">
                <div class="col-sm-12">
                    <span style="color: #000000;font-size: 36px;">{{domainInfo.name}}.elastos.name</span>
                </div>
            </div>

            <div class="row text-center" style="margin-top: 10px;" v-for="(item,key) in symbolDes">
                <div class="col-sm-6 text-right">
                    {{item["des"]}}
                </div>
                <div class="col-sm-6 text-left" style="padding-left:0px" v-if="key==='ela'">
                    <input v-model="coinList['ela']['address']" />
                </div>
                <div class="col-sm-6 text-left" style="padding-left:0px" v-else-if="key==='btc'">
                    <input v-model="coinList['btc']['address']" />
                </div>
                <div class="col-sm-6 text-left" style="padding-left:0px" v-else-if="key==='eth'">
                    <input v-model="coinList['eth']['address']" />
                </div>
                <div class="col-sm-6 text-left" style="padding-left:0px" v-else>
                    <input v-model="domainInfo[key]" />
                </div>
            </div>
            <div v-for="item in keyValueArr" class="row text-center" style="margin-top: 10px;">
                <div class="col-sm-6 text-right">
                    {{item["key"]}}:
                </div>
                <div class="col-sm-6 text-left" style="padding-left:0px">
                    <input v-model="item['value']" />
                </div>
            </div>
            <div class="row text-center" style="margin-top: 10px;">
                <div class="col-sm-6 text-right">
                    <input placeholder="Please input key" style="width: 145px;" v-model="keyValueObj.key" />
                </div>
                <div class="col-sm-6 text-left" style="padding-left:0px">
                    <input placeholder="Please input value" v-model="keyValueObj.value" /> <span @click="add" style="cursor: pointer;">+ add</span>
                </div>
            </div>
        </div>
        <div class="row text-center" style="margin-top: 10px;">
            <div class="col-sm-5">
                <img src="./img/line.png" style="width: 100%;" />
            </div>
            <div class="col-sm-2">
                or
            </div>
            <div class="col-sm-5">
                <img src="./img/line.png" style="width: 100%;" />
            </div>
        </div>

        <div class="row text-center" style="margin-top: 20px;">
            <div class="col-sm-12" @click="goLogo()">
                <img src="./img/elaphant.png" /> <span style="vertical-align: middle;color: #5157DB;border-bottom:1px solid #5157DB;cursor: pointer;">Start Elaphant to fill in quickly</span>
            </div>
        </div>


        <div class="row text-center" style="margin-top: 40px;margin-bottom: 5px;">
            <div class="col-sm-12">
                <div class="btn1" @click="submit">Submit</div>
            </div>
        </div>

        <div style="text-align: center;font-weight: bold;">Please confirm your MetaMask wallet already</div>
        <div style="text-align: center;font-weight: bold;">connected the Elastos Eth sidechain</div>
        <div style="text-align: center;font-weight: bold;"><img src="./img/meatMask.png">METAMASK</div>
        <div style="text-align: center;"><img src="./img/wenhao.png"><span style="display:inline-block;border-bottom: 1px solid #dddddd;cursor: pointer;" @click="link">How to setup Metamask</span></div>
    </div>


    <footer id="footer" class="section-bg">

        <div class="container">

            <div class="copyright">
                <b>contact us:</b>
                    <a href="https://twitter.com/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                    <a href="https://t.me/CryptoName1" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="copyright">
                <div style="color:#7B7B7B">
                    <img src="img/logo.png" style="height:32px">
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            loading: false,
            selectAddress: "",
            domainInfo: {
                "name": "",
                "did": "",
                "publickey": "",
                "blocknumber": "" //await bridge.getWeb3().eth.getBlockNumber()
            },
            coinList: {
                "ela": {
                    "symbol": "ela",
                    "name": "elastos",
                    "address": "",
                },
                "btc": {
                    "symbol": "btc",
                    "name": "bitcoin",
                    "address": "",
                },
                "eth": {
                    "symbol": "eth",
                    "name": "ethereum",
                    "address": "",
                }
            },
            symbolDes: {
                "did": {
                    "des": 'DID:'
                },
                "ela": {
                    "des": 'ela Address:'
                },
                "btc": {
                    "des": "BTC Address"
                },
                "eth": {
                    "des": 'ETH Address:'
                },
                "publickey": {
                    "des": 'Public key:'
                },
            },
            schemeConfig: {
                "AppID": "7d80c7e800f5842b3b8e7ec7318189f66b7fd5b6db13bb80fbd89d2b1c444772c1d0202fea1e9cbabbf3258b3d91685484c02c2ae52d78ca39e2e54593ec81dd",
                "AppName": "Hackathon",
                "RandomNumber": "123456789",
                "DID": "iXzenTELVRDc712tmt2Qvbtk3KcAwV2tU8",
                "PublicKey": "032f6347b27401dc0bced2de0ab4531e62c496841cd8e67a58c572e3018dcb72d9",
                "ReturnUrl": "/editInfo.html?name=test1",
                "RequestInfo": "elaaddress,BTCAddress,ETHAddress,Email"
            },
            keyValueArr: [],
            keyValueObj: {
                "key": "",
                "value": ""
            }
        },
        methods: {
            add() {
                if (this.keyValueObj.key === "") {
                    alert("please input key");
                    return false
                }

                if (this.keyValueObj.value === "") {
                    alert("please input value");
                    return false
                }

                let obj = _.cloneDeep(this.keyValueObj);
                this.keyValueArr.push(obj);
            },
            getUrl() {
                //获取主机地址
                var localhostPaht = window.location.protocol + "//" + window.location.host;
                return localhostPaht;
            },
            goLogo() {
                //构建身份授权协议
                var url = this.buildIdentity();
                //拼接大象钱包过度页面
                var turl = 'https://launch.elaphant.app?appName=Hackathon&appTitle=Hackathon&autoRedirect=True&redirectURL=' + encodeURIComponent(url);
                //跳转
                location.href = turl;
            },
            buildIdentity() {
                var baseUrl = this.getUrl();
                if (baseUrl === "file://") {
                    baseUrl = 'http://dev1.elapps.net';
                }
                this.schemeConfig['ReturnUrl'] = baseUrl + '/editInfo.html?name=' + this.domainInfo.name;
                var url = "elaphant://identity?";
                _.forEach(this.schemeConfig, function(val, key, index) {
                    if (key === 'ReturnUrl') {
                        val = encodeURIComponent(val);
                    }
                    url += key + '=' + val + '&';
                });

                return url.substring(0, url.length - 1);
            },
            checkParams() {
                if (this.domainInfo.did === "") {
                    alert("input did");
                    return false;
                }

                if (this.coinList.ela.address === "") {
                    alert("input elaAddress");
                    return false;
                }

                if (this.coinList.btc.address === "") {
                    alert("input btcAddress");
                    return false;
                }

                if (this.coinList.eth.address === "") {
                    alert("input ethAddress");
                    return false;
                }

                if (this.domainInfo.publickey === "") {
                    alert("input publickey");
                    return false;
                }
                return true;
            },
            objtoarr() {
                let arr = [];
                for (let key in this.coinList) {
                    arr.push(this.coinList[key]);
                }
                return arr;
            },
            link() {

            },
            submit() {
                if (this.checkParams()) {
                    this._generate_option("").then((option) => {
                        this.getContracts(option);
                    }).catch((err) => {

                    });
                }
            },
            GetQueryString(name) {　　　
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);　　　
                if (r != null) return (r[2]);　　　
                return null;
            },
            async getBlockNumber() {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        window.web3.eth.getBlockNumber().then((blocknumber) => {
                            this.domainInfo["blocknumber"] = blocknumber;
                            this.sign();
                        }).catch((err) => {

                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            async sign() {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        let arr = this.objtoarr();
                        this.domainInfo["addresses"] = arr;
                        for (let index = 0; index < this.keyValueArr.length; index++) {
                            let item = this.keyValueArr[index];
                            let key = item["key"];
                            let value = item["value"];
                            this.domainInfo[key] = value;
                        }
                        let signData = JSON.stringify(this.domainInfo);
                        web3.eth.personal.sign(signData, this.selectAddress).then((sign) => {
                            let body = {
                                "info": signData,
                                "sign": sign,
                                "owner": this.selectAddress
                            };
                            this.postAjax('https://api.elastos.name/nameInfo/set', body).then((result) => {
                                let code = result["code"];
                                if (code === 200) {
                                    alert(result["message"]);
                                    window.location.href = "./view.html?name=" + this.domainInfo.name;
                                } else {
                                    alert(JSON.stringify(result));
                                }
                            }).catch((err) => {
                                alert("err:" + JSON.stringify(err));
                            });
                        }).catch((err) => {
                            alert("err:" + JSON.stringify(err));
                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            postAjax(url, data) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        data: JSON.stringify(data),
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'POST',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            getAjax(url) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            next(txid) {
                let sid = setInterval(() => {
                    if (typeof web3 !== 'undefined') {
                        web3 = new Web3(web3.currentProvider);
                    }
                    web3.eth.getTransaction(txid, (err, data) => {
                        let blockHash = data['blockHash'] || "";
                        let blockNumber = data['blockNumber'] || "";
                        if (blockHash != "" && blockNumber != '') {
                            this.loading = false;
                            clearInterval(sid);
                            this.getBlockNumber();
                        }
                    });
                }, 500);
            },
            async getContracts(option) {
                if (window.ethereum) {
                    window.web3 = new Web3(ethereum);
                    try {
                        await ethereum.enable();
                        var infoContract = new web3.eth.Contract(window.elaAbi, window.contractAddres);
                        infoContract.methods.setBasicInfo(this.domainInfo.name, this.coinList.btc.address, this.coinList.eth.address, this.coinList.ela.address, this.domainInfo.did, this.domainInfo.publickey).send(option, (err, msg) => {
                            if (!err) {
                                this.loading = true;
                                this.next(msg);
                            }
                        });
                    } catch (error) {
                        // User denied account access...
                        console.log(error);
                    }
                } else if (window.web3) {
                    window.web3 = new Web3(web3.currentProvider);
                }
                // Non-dapp browsers...
                else {
                    console.log('Non-Ethereum browser detected. You should consider trying MetaMask!');
                }
            },
            async _generate_option(price) {
                return web3.eth.getGasPrice()
                    .then((gasPrice) => {
                        if (price)
                            return {
                                from: this.selectAddress,
                                gasPrice: gasPrice,
                                gas: 1000000,
                                value: web3.utils.toWei(price, "ether")
                            };
                        else
                            return {
                                from: this.selectAddress,
                                gasPrice: gasPrice,
                                gas: 1000000,
                                value: '0'
                            };
                    });
            },
            handle(coin, list) {
                for (let index = 0; index < list.length; index++) {
                    let item = list[index];
                    if (coin === item["symbol"]) {
                        return item["address"];
                    }
                }
            }
        },
        created() {
            this.domainInfo.name = this.GetQueryString("name") || "";
            let data = this.GetQueryString("Data") || "";
            if (data === "") {
                let url = "https://"+this.domainInfo.name+".elastos.name/info.json";
                this.getAjax(url).then((result) => {
                    //console.log(JSON.stringify(result));
                    // let code = result["code"];
                    // if (code === 200) {
                        //this.domainInfo = result["data"] || "";
                        let data = JSON.stringify(result);
                        // this.domainInfo.did = data["did"] || '';
                        // this.coinList["ela.address"] = data["ela.address"];
                        // this.coinList["btc.address"] = data["btc.address"];
                        // this.coinList["eth.address"] = data["eth.address"];
                        // this.domainInfo.publickey = data["publickey"] || '';
                        for (let key in data) {
                            // if (key != "name" && key != "did" && key != "publickey" && key != "blocknumber" && key != "addresses") {
                            //     Vue.set(this.symbolDes, key, {
                            //         "des": key
                            //     });
                            // }
                            this.domainInfo[key] = data[key] || "";
                        }

                    }
                ).catch((err) => {

              });
            }

            if (data != "") {
                let dataStr = decodeURIComponent(data);
                let dataObj = JSON.parse(dataStr);
                this.domainInfo.did = dataObj["DID"];
                this.coinList["ela.address"] = data["ela.address"];
                this.coinList["btc.address"] = data["btc.address"];
                this.coinList["eth.address"] = data["eth.address"];
                this.domainInfo.publickey = dataObj["PublicKey"];
            }
            window.initWallet().then((address) => {
                this.selectAddress = address;
            }).catch((err) => {

            });
        }
    });
</script>

</html>