<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CryptoName</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap_4_5.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <script src="./js/vue.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/vue-qrcode.min.js"></script>
    <script src="./js/vue-clipboard.min.js"></script>
    <script>
        Vue.component(VueQrcode.name, VueQrcode);
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
        
        body {
            background-color: #FEFEFE;
        }
        
        .btn1 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 5px;
            cursor: pointer;
            width: 200px;
            line-height: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: #F5841F;
            color: #ffffff;
        }
    </style>

</head>

<body>
    <div id="app" class="w-auto">
        <div class="container" style="margin-top: 20px;word-break:break-all;">
            <div class="logo ">
                <h1 class="text-light">
                    <a href="#intro" >
                        <span style="font-size: 3rem"><b>{{domainInfo.name}}</b></span>
                        <span style="font-size: 1.5rem" v-if="isPC">.CryptoName.org</span>
                    </a>
                </h1>
                <p v-if="!isPC"><a href="#intro"><span style="font-size: 1.5rem">.CryptoName.org</span></a></p>
            </div>
        </div>


        <div class="container" v-if="!loading">
            <div class="card-columns w-auto">
                <div class="card p-3" v-for="(v, k) in domainInfo">
                  <div class="card-header">{{k}}</div>
                  <div class="card-body">
                    <h5 class="card-title">{{v}}</h5>
                    
                    <a href="#" class="btn btn-info btn-sm" @click="doCopy(v)">Copy</a>
                  </div>
                  <div class="card-footer bg-transparent">
                    <p class="card-text">https://{{domainInfo.name}}.cryptoname.org/{{k}}</p>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="section-bg">

        <div class="container">

            <div class="copyright">
                <b>contact us:</b>
                <a href="https://t.me/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                <a href="https://twitter.com/CryptoName1" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="copyright">
                <div style="color:#7B7B7B">
                    <img src="img/logo.png" style="height:32px">
                </div>
            </div>
        </div>
    </footer>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            qrcode: "xxxxxxxxxxx",
            isPC: true,
            isShow: false,
            isShowEdit: false,
            loading: true,
            domainInfo: {},
            addresses: []
        },
        methods: {
            editInfo() {
                window.location.href = "./editInfo.html?name=" + this.domainInfo.name;
            },
            getAjax(url) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            GetQueryString(name) {　　　
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);　　　
                if (r != null) return (r[2]);　　　
                return null;
            },
            doCopy(val) {
                this.$copyText(val).then(function (e) {
                    console.log(e)
                }, function (e) {
                   alert('Can not copy',e.text)
                   console.log(e)
                })
            },
            up() {
                this.isShow = false;
            },
            down() {
                this.isShow = true;
            },
            getPc() {
                let userAgentInfo = navigator.userAgent;
                let Agents = ["Android", "iPhone",
                    "SymbianOS", "Windows Phone",
                    "iPad", "iPod"
                ];
                let flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            },
        },
        created() {
            this.isPC = this.getPc();
            this.domainInfo.name = this.GetQueryString("name") || "";
            let url = "https://api.elastos.name/nameInfo/get?name=" + this.domainInfo.name;
            this.getAjax(url).then((result) => {
                console.log(JSON.stringify(result));
                let code = result["code"];
                if (code === 200) {
                    this.loading = false;
                    this.domainInfo = result["data"] || "";
                } else {
                    this.isShowEdit = true;
                }
            }).catch((err) => {
                console.log(err);
            });
        }
    });
</script>

</html>