<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CryptoName</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap_4_5.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <script src="./js/vue.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap_4_5.min.js"></script>
    <script type="text/javascript" src="./lib/bootstrap/js/bootstrap_4_5.bundle.min.js"></script>
    <script src="./js/vue-qrcode.min.js"></script>
    <script src="./js/vue-clipboard.min.js"></script>
    <script type="text/javascript">
        document.write('<script src="./js/contractConfig.js?v=' + (new Date()).getTime() + '"><\/script>');
    </script>
    <script>
        Vue.component(VueQrcode.name, VueQrcode);
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
        
        body {
            background-color: #FEFEFE;
        }
        
        .btn1 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 5px;
            cursor: pointer;
            width: 200px;
            line-height: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: #F5841F;
            color: #ffffff;
        }
    </style>

</head>

<body>
    <div id="app" class="w-auto">
        <div class="container" style="margin-top: 20px;word-break:break-all;">
            <div class="logo ">
                <h1 class="text-light">
                    <a href="#" @click="doCopy(domainInfo.name+'.elastos.name')">
                        <span style="font-size: 3rem"><b>{{domainInfo.name}}</b></span>
                        <span style="font-size: 1.5rem" v-if="isPC">.elastos.name</span>
                    </a>
                </h1>
                <p v-if="!isPC"><a href="#"><span style="font-size: 1.5rem">.elastos.name</span></a></p>
            </div>
        </div>


        <div class="container" v-if="!loading">
            <div class="card-columns w-auto">
                <div class="card p-3" v-for="(v, k) in domainInfo">
                  <div class="card-header"><b>{{k}}</b></div>
                  <div class="card-body">
                    <h5 class="card-title">{{v}}</h5>
                    <a href="#" class="btn btn-info btn-sm" @click="doCopy(v)">Copy</a>
                    <a href="#" class="btn btn-info btn-sm" @click="doOpen(v)" v-if="v && v.indexOf('http')==0">Open</a>
                    <a href="#" class="btn btn-info btn-sm" id="#depsoitBtn" @click="depsoitAddr=v;depsoitToken=k.substring(0, k.indexOf('.address')).toUpperCase();$('#depsoitDailog').modal('show')" data-target="#depsoitDailog" v-if="k && k.indexOf('.address')!=-1">Deposit</a>
                  </div>
                  <div class="card-footer bg-transparent">
                    <p class="card-text"><a href="#" @click="doCopy('https://'+domainInfo.name+'.elastos.name/'+k)">https://{{domainInfo.name}}.elastos.name/{{k}}</a></p>
                  </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="depsoitDailog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Deposit {{depsoitToken}} to</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <p>{{depsoitAddr}}</p>
                    <label for="recipient-name" class="col-form-label">Amount:</label>
                    <input type="text" class="form-control" id="amount" value="0.1">
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" @click="doDeposit()">Send</button>
              </div>
            </div>
          </div>
        </div>

    </div>
    <footer id="footer" class="section-bg">

        <div class="container">

            <div class="copyright">
                <b>contact us:</b>
                <a href="https://t.me/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                <a href="https://twitter.com/CryptoNameOrg" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="copyright">
                <div style="color:#7B7B7B">
                    <a href="https://cryptoname.org"><img src="img/logo.png" style="height:32px"></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d965b0b0681dd5ed07c5305a42dcd6b9";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            qrcode: "xxxxxxxxxxx",
            isPC: true,
            isShow: false,
            isShowEdit: false,
            loading: true,
            domainInfo: {},
            depsoitAddr: "",
            depsoitToken: "",
            addresses: []
        },
        methods: {
            editInfo() {
                window.location.href = "./editInfo.html?name=" + this.domainInfo.name;
            },
            getAjax(url) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            GetQueryString(name) {　　　
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);　　　
                if (r != null) return (r[2]);　　　
                return null;
            },
            doCopy(val) {
                this.$copyText(val).then(function (e) {
                    console.log(e)
                }, function (e) {
                   alert('Can not copy',e.text)
                   console.log(e)
                })
            },
            doOpen(val) {
                window.open(val, "_blank");
            },
            doDeposit() {
                var tokenName = this.depsoitToken;
                var address = this.depsoitAddr;
                var amount = $("#amount").val();

                
                var url = "https://launch.elaphant.app/?appName=CryptoName&appTitle=CryptoName&autoRedirect=True&redirectURL=elaphant%3A%2F%2Felapay%3FDID%3DibxNTG1hBPK1rZuoc8fMy4eFQ96UYDAQ4J%26AppID%3Dac89a6a3ff8165411c8426529dccde5cd44d5041407bf249b57ae99a6bfeadd60f74409bd5a3d81979805806606dd2d55f6979ca467982583ac734cf6f55a290%26AppName%3DMini%2520Apps%26Description%3DMini%2520Apps%26PublicKey%3D034c51ddc0844ff11397cc773a5b7d94d5eed05e7006fb229cf965b47f19d27c55%26OrderID%3DCryptoName%26CoinName%3D"+tokenName+"%26ReceivingAddress%3D"+address+"%26ReturnUrl%3Dhttps%3A%2F%2F"+this.domainInfo.name+".elastos.name%26Amount%3D"+amount;
                window.open(url, "_blank");
            },
            up() {
                this.isShow = false;
            },
            down() {
                this.isShow = true;
            },
            getPc() {
                let userAgentInfo = navigator.userAgent;
                let Agents = ["Android", "iPhone",
                    "SymbianOS", "Windows Phone",
                    "iPad", "iPod"
                ];
                let flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            },
        },
        created() {
            this.isPC = this.getPc();
            this.domainInfo.name = this.GetQueryString("name") || "";
            let url = window.API_URL+"/nameInfo/get?name=" + this.domainInfo.name;
            this.getAjax(url).then((result) => {
                console.log(JSON.stringify(result));
                let code = result["code"];
                if (code === 200) {
                    this.loading = false;
                    this.domainInfo = result["data"] || "";
                    for (var index in this.domainInfo) {
                        if (this.domainInfo[index] == "")
                            delete this.domainInfo[index];
                    }
                } else {
                    this.isShowEdit = true;
                }
            }).catch((err) => {
                console.log(err);
            });
        }
    });
</script>

</html>