<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Domain Tokens</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <script src="./js/vue.min.js"></script>
    <script type="text/javascript" src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/vue-qrcode.min.js"></script>
    <script src="./js/vue-clipboard.min.js"></script>
    <script>
        Vue.component(VueQrcode.name, VueQrcode);
    </script>
    <style>
        [v-cloak] {
            display: none;
        }
        
        body {
            background-color: #FEFEFE;
        }
        
        .btn1 {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 5px;
            cursor: pointer;
            width: 200px;
            line-height: 50px;
            height: 50px;
            border-radius: 4px;
            background-color: #F5841F;
            color: #ffffff;
        }
    </style>

</head>

<body>
    <header id="header">

        <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="https://t.me/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                    <a href="https://twitter.com/CryptoName1" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light"><a href="#intro" class="scrollto"><span>CryptoName</span></a></h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li><a href="./index.html">Home</a></li>
                    <li><a href="./register.html">Register</a></li>
                    <li><a href="./sale.html">Sale</a></li>
                    <li><a href="./auction.html">Auction</a></li>
                    <li class="active"><a href="./account.html">Account</a></li>
                </ul>
            </nav>
            <!-- .main-nav -->

        </div>
    </header>
    <!-- #header -->

    <div id="app">
        <div v-if="isPC">
            <div style="height:150px"></div>
            <div v-if="isShowEdit" class="row text-center" style="margin-top: 40px;margin-bottom: 5px;">
                <div class="col-sm-12">
                    <div class="btn1" @click="editInfo">Eidt info</div>
                </div>
            </div>
            <div class="container" v-if="!isShowEdit&&!loading">
                <div class="row">
                    <div class="col-sm-4">
                        <div style="cursor: pointer;" @click="doCopy(domainInfo.name)">
                            {{this.domainInfo.name}}.elastos.name <img src="./img/externallink.png">
                        </div>

                        <div style="margin-top: 10px;">
                            {{this.domainInfo.description}}
                        </div>

                        <div style="margin: 0 auto;width: 120px;">
                            <qrcode :value="this.domainInfo.did" :options="{ width:120 }" style="display:block"></qrcode>
                        </div>
                        <div style="font-size: 16px;cursor: pointer;" @click="doCopy(this.domainInfo.did)">{{this.domainInfo.did}}<img src="./img/copy.png" style="width: 24px;" /></div>

                        <div style="margin-top: 10px;cursor: pointer;" v-if="domainInfo.email">
                            <img src="./img/youxiang.png" style="margin-right: 5px;">{{this.domainInfo.email}}
                        </div>

                        <div style="margin-top: 10px;cursor: pointer;" v-if="domainInfo.personalurl">
                            <img src="./img/link.png" style="margin-right: 5px;"><span style="color: #5157DB;">{{domainInfo.personalurl}}</span>
                        </div>

                        <div style="margin-top: 10px;cursor: pointer;">
                            <img src="./img/download.png" style="margin-right: 5px;"><span style="color: #5157DB;">https://{{this.domainInfo.name}}.elastos.name/info.json</span>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="row" style="border: 1px solid #E5E5E5;box-sizing: border-box;border-radius: 4px;margin-bottom: 10px;" v-for="(item) in addresses">
                            <div class="col-sm-8">
                                <div style="margin-top: 10px;" v-if="item.symbol === 'ela'">
                                    <img src="./img/ela.png" style="margin-right: 5px;">{{item.name}}
                                </div>
                                <div style="margin-top: 10px;" v-if="item.symbol === 'btc'">
                                    <img src="./img/btc.png" style="margin-right: 5px;">{{item.name}}
                                </div>
                                <div style="margin-top: 10px;" v-if="item.symbol === 'eth'">
                                    <img src="./img/eth.png" style="margin-right: 5px;">{{item.name}}
                                </div>
                                <div style="margin-top: 5px;cursor: pointer;" @click="doCopy(item.address)">{{item.address}}<img src="./img/copy.png" style="width: 24px;"></div>

                                <div style="margin-top: 5px;;color: #5157DB;cursor: pointer;" v-if="item.symbol === 'ela'">
                                    https://{{domainInfo.name}}.elastos.name/ela.address
                                </div>

                                <div style="margin-top: 5px;;color: #5157DB;cursor: pointer;" v-if="item.symbol === 'btc'">
                                    https://{{domainInfo.name}}.elastos.name/btc.address
                                </div>

                                <div style="margin-top: 5px;;color: #5157DB;cursor: pointer;" v-if="item.symbol === 'eth'">
                                    https://{{domainInfo.name}}.elastos.name/eth.address
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div style="margin: 0 auto;width: 120px;">
                                    <qrcode :value="item.address" :options="{ width:120 }" style="display:block"></qrcode>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row text-center" style="margin-top: 50px;">
                    <div class="col-sm-12">
                        <div style="color:#7B7B7B">
                            <img src="img/logo.png" style="height:32px">
                        </div>
                        <p style="color:#7B7B7B;">Powered by <strong>elastos.name</strong></p>
                    </div>
                </div>
            </div>
        </div>

        <div v-if="!isPC">
            <div style="height:80px"></div>
            <div v-if="isShowEdit" class="row text-center" style="margin-top: 40px;margin-bottom: 5px;">
                <div class="col-sm-12">
                    <div class="btn1" @click="editInfo">Eidt info</div>
                </div>
            </div>
            <div class="container" style="width:375px" v-if="!isShowEdit&&!loading">
                <div class="row" style="padding: 0px 10px;">
                    <div class="col-xs-12">
                        <div style="cursor: pointer;" @click="doCopy(domainInfo.name)">
                            {{domainInfo.name}}.elastos.name <img src="./img/externallink.png">
                        </div>
                        <div style="font-size: 16px;cursor: pointer;" @click="doCopy(domainInfo.did)">{{domainInfo.did}}<img src="./img/copy.png" style="width: 24px;" /></div>

                        <div style="margin-top: 10px;cursor: pointer;" v-if="domainInfo.email">
                            <img src="./img/youxiang.png" style="margin-right: 5px;">{{domainInfo.email}}
                        </div>

                        <div style="margin-top: 10px;cursor: pointer;" v-if="domainInfo.personalurl">
                            <img src="./img/link.png" style="margin-right: 5px;"><span style="color: #5157DB;">{{domainInfo.personalurl}}</span>
                        </div>

                        <div style="margin-top: 10px;cursor: pointer;">
                            <img src="./img/download.png" style="margin-right: 5px;"><span style="color: #5157DB;">https://{{domainInfo.personalurl}}.elastos.name/info.json</span>
                        </div>

                        <div style="margin-top: 10px;" v-if="isShow">
                            {{this.domainInfo.description}}
                        </div>

                        <div style="text-align: center;margin-top: 10px;cursor: pointer;" v-if="!isShow" @click="down"><img src="img/down.png" /></div>
                        <div style="text-align: center;margin-top: 10px;cursor: pointer;" v-if="isShow" @click="up"><img src="img/up.png" /></div>
                    </div>
                </div>


                <div class="row" style="border: 1px solid #E5E5E5;box-sizing: border-box;border-radius: 4px;padding:10px;margin-top: 10px;">
                    <div class="col-xs-9">
                        <div style="margin-top: 10px;" v-if="item.symbol === 'ela'">
                            <img src="./img/ela.png" style="margin-right: 5px;">{{item.name}}
                        </div>
                        <div style="margin-top: 10px;" v-if="item.symbol === 'btc'">
                            <img src="./img/btc.png" style="margin-right: 5px;">{{item.name}}
                        </div>
                        <div style="margin-top: 10px;" v-if="item.symbol === 'eth'">
                            <img src="./img/eth.png" style="margin-right: 5px;">{{item.name}}
                        </div>
                        <div style="margin-top: 5px;cursor: pointer;" @click="doCopy(item.address)">{{item.address}}<img src="./img/copy.png" style="width: 24px;"></div>

                        <div style="margin-top: 5px;;color: #5157DB;cursor: pointer;" v-if="item.symbol === 'ela'">
                            https://{{domainInfo.name}}.elastos.name/ela.address
                        </div>

                        <div style="margin-top: 5px;;color: #5157DB;cursor: pointer;" v-if="item.symbol === 'btc'">
                            https://{{domainInfo.name}}.elastos.name/btc.address
                        </div>

                        <div style="margin-top: 5px;;color: #5157DB;cursor: pointer;" v-if="item.symbol === 'eth'">
                            https://{{domainInfo.name}}.elastos.name/eth.address
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div style="margin: 0 auto;width: 60px;">
                            <qrcode :value="item.address" :options="{ width:60 }" style="display:block"></qrcode>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <footer id="footer" class="section-bg">

        <div class="container">

            <div class="copyright">
                <b>contact us:</b>
                <a href="https://t.me/CryptoName1" class="Telegram"><i class="fa fa-telegram"></i></a>
                <a href="https://twitter.com/CryptoName1" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/cryptoname_/?hl=en" class="instagram"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="copyright">
                <div style="color:#7B7B7B">
                    <img src="img/logo.png" style="height:32px">
                </div>
            </div>
        </div>
    </footer>

</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            qrcode: "xxxxxxxxxxx",
            isPC: true,
            isShow: false,
            isShowEdit: false,
            loading: true,
            domainInfo: {},
            addresses: []
        },
        methods: {
            editInfo() {
                window.location.href = "./editInfo.html?name=" + this.domainInfo.name;
            },
            getAjax(url) {
                return new Promise((resovle, reject) => {
                    $.ajax({
                        url: url,
                        dataType: 'json',
                        contentType: 'application/json',
                        type: 'GET',
                        success: function(data) { //成功回调函数
                            resovle(data);
                        },
                        error: function(err) { //失败回调函数
                            reject(err);
                        }
                    });
                });
            },
            GetQueryString(name) {　　　
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);　　　
                if (r != null) return (r[2]);　　　
                return null;
            },
            doCopy(text) {
                this.$copyText(text).then((e) => {
                    alert("copy Sucess");
                }, (e) => {})
            },
            up() {
                this.isShow = false;
            },
            down() {
                this.isShow = true;
            },
            getPc() {
                let userAgentInfo = navigator.userAgent;
                let Agents = ["Android", "iPhone",
                    "SymbianOS", "Windows Phone",
                    "iPad", "iPod"
                ];
                let flag = true;
                for (var v = 0; v < Agents.length; v++) {
                    if (userAgentInfo.indexOf(Agents[v]) > 0) {
                        flag = false;
                        break;
                    }
                }
                return flag;
            },
        },
        created() {
            this.isPC = this.getPc();
            this.domainInfo.name = this.GetQueryString("name") || "";
            let url = "https://api.elastos.name/nameInfo/get?name=" + this.domainInfo.name;
            this.getAjax(url).then((result) => {
                console.log(JSON.stringify(result));
                let code = result["code"];
                if (code === 200) {
                    this.loading = false;
                    this.domainInfo = result["data"] || "";
                    if (this.domainInfo != '') {
                        this.addresses.push({
                            "symbol": "ela",
                            "name": "ELA",
                            "address": this.domainInfo["ela.address"]
                        });

                        this.addresses.push({
                            "symbol": "btc",
                            "name": "BTC",
                            "address": this.domainInfo["btc.address"]
                        });

                        this.addresses.push({
                            "symbol": "eth",
                            "name": "ETH",
                            "address": this.domainInfo["eth.address"]
                        });
                    } else {
                        this.addresses = [];
                    }
                } else {
                    this.isShowEdit = true;
                }
            }).catch((err) => {

            });
        }
    });
</script>

</html>